<% provide :navigation_orders, "active" %>
<h2>All orders</h2>
<hr/>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Index</th>
      <th>Customer name</th>
      <th>Employee name</th>
      <th>Time</th>
      <th>Total price</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "order", collection: @orders, as: :order %>
  </tbody>
</table>
<%= paginate @orders %>
